/*
	SECTIONS.CSS - THIS IS WHERE THE LAYOUT RELATED CSS
	GOES.
*/


/*	HEADER
------------------------------------------------------------------------------------------------------------------------------------*/

body > header {
    background-color: #00a8ff;
    border-bottom: 1px solid #7f7f7f;
    height:100px;
}

body > header > div > .ghost{
    float:left;
}

/*	MAIN
------------------------------------------------------------------------------------------------------------------------------------*/

body > main {
    min-height: 300px;
}


/*	FOOTER
------------------------------------------------------------------------------------------------------------------------------------*/

body > footer {
    background-color: #000;
}


